<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
</head>
<body>

    <h1>
        <b style="color: #774b9d">
            <center>Animal List</center>
        </b>
    </h1>


    <br>


    <form th:method="GET" th:action="@{/registration}">
        <center>
            <input type="submit" value="Registration" style="color:#49cb2c; font-size: 400%"/>
        </center>
    </form>

    <br>

    <form th:method="GET" th:action="@{/login}">
        <center>
            <input type="submit" value="Log in" style="color:#1f8133; font-size: 400%"/>
        </center>
    </form>

</body>
</html>